div{


display: flex;
align-items: center;
margin-bottom: 10px;
}


input[type="checkbox"]{

margin-right: 8px;

}


button{


background-color: #e74c3c;
color: #fff;
cursor: pointer;
border: none;
border-radius: 4px;
}